ul.headerTabs {
    list-style-type: none;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #fff;
    background-color: azure;
}

ul.headerTabs li{
    display:inline;
}

ul.headerTabs li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

ul.headerTabs li a:hover {
    background-color: #ddd;
}

ul.headerTabs li a:focus, .active{
    background-color: oldlace;
}

ul.visualTabs {
    text-align: left;
}

.metricTabContent{
    display: none;
    padding: 6px 6px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: auto;
}

.visualTabContent{
    position:relative;
    display: none;
    padding: 0;
    border: none;
    overflow: visible;
    min-height: 100%;
    height:100%;
}


.visualTabConsole{
    padding:0;
    margin:0;
    min-width:100%;
    min-height:100%;
    overflow:visible;
}

#metricTabHeader {
    /* border: 1px solid #ccc; */
    display: block;
    margin: auto;
    border-right: 1px solid #ccc;
    text-align:center;
}

.unloadButton{
    background-color: white;
    color: black;
    border: 1px solid gray;
    font-size: 14px;
    padding: 0% 2%;
    font-weight: 700;
    float:right;
    clear:both;
}

#metricDiv {
    float:left;
    min-width:330px;
    min-height:100%;
    height:100%;
    word-wrap: break-word;
    z-index:1;
}

#visualDiv {
    padding:0;
    margin:0;
    min-height:100%;
 }

body{
    display:flex;
    margin:0;
    padding:0;
    border:0;
    min-height:100vh;
}

#basicTable {
    position: relative;
    width: 100%;
    height: 90vh;
}

#basicTable table {
    position: relative;
    width: 90%;
    height: 100%;
    background-color: #DAE3E5;
    overflow: hidden;
    border-collapse: collapse;
    display:block;
}

#basicTable thead {
    font-family:sans-serif;
    border: none;
    border-collapse: collapse;
    background: lightsteelblue;
    position: relative;
    display: block;
    width: 100%;
    overflow: visible;
}

#basicTable thead th {  /*Default header for basic table*/
    background-color: #A1C6EA;
    width: 96px;
    min-width: 96px;
    min-height: 36px;
    border: 1px solid #DAE3E5;
}

#basicTable thead th:nth-child(1) { /*Override first block of the header (top left, which should be static)*/
    background-color: #507DBC;
    position: relative;
    min-width: 160px;
    min-height: 72px;
    display: table-cell;
}

#basicTable tbody {     /*Styling for body block*/
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#basicTable tbody td {  /*Styling for data cells*/
    background-color: #BBD1EA;
    min-width: 96px;
    border: 1px solid #DAE3E5;
    text-align: center;
}

#basicTable tbody tr .rowHeader {  /*Styling for leading data cell*/
    background-color: #A1C6EA;
    position: relative;
    height:28px;
    width:117px;
    min-width:117px;
}

#basicTable tbody tr .rowSubHeader {  /*Styling for leading data cell*/
    background-color: #A1C6EA;
    position: relative;
    text-align: center;
    display: table-cell;
    height: 28px;
    width: 40px;
    min-width: 40px;
}

#barChart rect {
    fill: lightblue;
}
#barChart rect:hover {
    fill: orange;
}
#barChart rect text {
    fill: black;
    font: 10px sans-serif;
    text-anchor:end;
}

#barChart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor:end;
}

.axisText {
    font: 14px sans-serif;
}

#barChart .tick.grid line{
    fill: none;
    stroke: lightgrey;
    shape-rendering: crispEdges;
}

#barChart .tick.grid path{
    fill:none;
    stroke:none;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.PCA-ellipse {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.PCA-point {
    stroke-width: 2px;
    fill-opacity: 0;
}

.PCA-point.active {
    display:block;
}

.PCA-point.inactive {
    display:none;
}

.PCA-legend {
    font-family:sans-serif;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: powderblue;
    border: none;
    border-radius: 5px; /*rounds edges*/
    pointer-events: none;
}