ul.headerTabs {
    list-style-type: none;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #fff;
    background-color: azure;
}

ul.headerTabs li{
    display:inline;
}

ul.headerTabs li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

ul.headerTabs li a:hover {
    background-color: #ddd;
}

ul.headerTabs li a:focus, .active{
    background-color: oldlace;
}

ul.visualTabs {
    text-align: left;
}

.metricTabContent{
    display: none;
    padding: 6px 6px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: auto;
}

.visualTabContent{
    position:relative;
    display: none;
    padding: 0;
    border: none;
    overflow: visible;
    min-height: 100%;
    height:100%;
}


.visualTabConsole{
    padding:0;
    margin:0;
    min-width:100%;
    min-height:100%;
    overflow:visible;
}

#metricTabHeader {
    /* border: 1px solid #ccc; */
    display: block;
    margin: auto;
    border-right: 1px solid #ccc;
    text-align:center;
}

.unloadButton{
    background-color: white;
    color: black;
    border: 1px solid gray;
    font-size: 14px;
    padding: 0% 2%;
    font-weight: 700;
    float:right;
    clear:both;
}

#metricDiv {
    float:left;
    min-width:330px;
    min-height:100%;
    height:100%;
    word-wrap: break-word;
    z-index:1;
}

#visualDiv {
    padding:0;
    margin:0;
    min-width:100%;
    min-height:100%;
 }

body{
    display:flex;
    margin:0;
    padding:0;
    border:0;
    min-height:100vh;
}

#basicTable {
    position: relative;
    width: 100%;
}

#basicTable table {
    position: relative;
    width: 90%;
    height: 60%;
    background-color: #aaa;
    overflow: hidden;
    border-collapse: collapse;
    display:block;
}

#basicTable thead {
    font-family:sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    background: lightsteelblue;
    position: relative;
    display: block;
    width: 100%;
    overflow: visible;
}

#basicTable thead th {  /*Default header for basic table*/
    background-color: #A1C6EA;
    min-width: 110px;
    min-height: 36px;
    border: 1px solid slategray;
}

#basicTable thead th:nth-child(1) { /*Override first block of the header (top left, which should be static)*/
    background-color: #507DBC;
    position: relative;
    display: block;
}

#basicTable tbody {     /*Styling for body block*/
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#basicTable tbody td {  /*Styling for data cells*/
    background-color: #BBD1EA;
    min-width: 110px;
    border: 1px solid slategray;
}

#basicTable tbody tr td:nth-child(1) {  /*Styling for leading data cell*/
    background-color: #A1C6EA;
    position: relative;
    display: block;
    height: 40px;
}
